.about-container{

min-height:100vh;

background:#f7f3ed;

padding:140px 70px 70px;

display:flex;

justify-content:space-between;

align-items:center;

gap:60px;

}


/* LEFT */

.about-left{

width:50%;
}

.small-title{

letter-spacing:5px;

font-size:14px;

color:#9b7d5c;

margin-bottom:20px;
}

.about-left h1{

font-size:65px;

line-height:80px;

color:#333;

font-family:'Cormorant Garamond',serif;

margin-bottom:30px;
}

.about-left h1 span{

color:#9b7d5c;
}

.about-left p{

font-size:18px;

line-height:35px;

color:#666;

margin-bottom:35px;
}

.about-btn{

padding:15px 35px;

border:none;

background:#9b7d5c;

color:white;

font-size:16px;

cursor:pointer;

border-radius:6px;

transition:.4s;
}

.about-btn:hover{

transform:translateY(-4px);

background:#7c6147;
}



/* RIGHT */
.about-right{

width:48%;

display:grid;

grid-template-columns:1fr 1fr;

grid-template-rows:260px 260px;

gap:20px;

}


/* all images */

.about-right img{

width:100%;

height:100%;

object-fit:cover;

border-radius:16px;

box-shadow:0 8px 20px rgba(0,0,0,.12);

transition:.5s;

}

.about-right img:hover{

transform:scale(1.04);

}


/* arrangement */

.img1{

grid-column:1;
grid-row:1;

}

.img2{

grid-column:2;
grid-row:1;

}

.img3{

grid-column:1;
grid-row:2;

}

.img4{

grid-column:2;
grid-row:2;

}
/* STATS */

.stats{

background:white;

display:flex;

justify-content:space-around;

padding:60px;

}

.stat-box{

text-align:center;
}

.stat-box h2{

font-size:45px;

color:#9b7d5c;

margin-bottom:10px;
}

.stat-box p{

color:#666;
}
@media(max-width:768px){

  .about-container{
    flex-direction:column;
    padding:90px 20px 50px;
    gap:40px;
  }

  .about-left,
  .about-right{
    width:100%;
  }

  .small-title{
    text-align:center;
    letter-spacing:3px;
  }

  .about-left h1{
    font-size:48px;
    line-height:1.1;
    text-align:center;
    margin-bottom:20px;
  }

  .about-left p{
    font-size:16px;
    line-height:30px;
    text-align:center;
  }

  .about-btn{
    display:block;
    margin:0 auto;
  }

  /* Images */

  .about-right{
    grid-template-columns:1fr 1fr;
    grid-template-rows:220px 220px;
    gap:15px;
  }

  .about-right img{
    border-radius:14px;
  }

  /* Stats */

  .stats{
    flex-direction:column;
    gap:30px;
    padding:40px 20px;
  }

  .stat-box h2{
    font-size:36px;
  }

}