@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

.contact{

min-height:100vh;

padding:120px 90px;

background:#f7f3ed;

display:flex;

justify-content:space-between;

align-items:center;

gap:80px;

}

.contact-left{

flex:1;

}

.small-title{

letter-spacing:6px;

color:#b68b5e;

margin-bottom:20px;

}

.contact-left h1{

font-size:75px;

line-height:85px;

font-family:'Cormorant Garamond',serif;

margin-bottom:30px;

}

.contact-text{

line-height:35px;

color:#666;

font-size:18px;

margin-bottom:40px;

}

.contact-details{

display:flex;

flex-direction:column;

gap:25px;

}

.detail-box{

border-bottom:1px solid #ddd;

padding-bottom:20px;

}

.detail-box h3{

color:#b68b5e;

margin-bottom:10px;

}

.contact-right{

flex:1;

background:white;

padding:50px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.contact-right h2{

text-align:center;

margin-bottom:30px;

font-family:'Cormorant Garamond',serif;

font-size:35px;

}

form{

display:flex;

flex-direction:column;

gap:20px;

}

.two-input{

display:flex;

gap:20px;

}

.two-input input{

width:100%;

}

input,
textarea{

padding:18px 22px;

background:#faf8f5;

border:20px solid #b46708;

border-radius:14px;

font-size:16px;

outline:none;

transition:.4s;

box-shadow:0 4px 10px rgba(0,0,0,.03);

}


input:focus,
textarea:focus{

border:2px solid #b68b5e;

box-shadow:0 0 15px rgba(182,139,94,.3);

background:white;

transform:translateY(-2px);

}


textarea{

height:170px;

resize:none;

}


button{

padding:18px;

background:linear-gradient(
to right,
#b68b5e,
#8f643e
);

border:none;

border-radius:40px;

font-size:18px;

font-weight:600;

color:white;

cursor:pointer;

transition:.5s;

box-shadow:
0 10px 20px rgba(182,139,94,.3);

}


button:hover{

transform:translateY(-5px);

box-shadow:
0 15px 30px rgba(182,139,94,.5);

}
